.wrapper {
  position: relative;
  width: min(350px, 100%);
}

.input {
  padding-left: 2.4rem;
  border-color: #d9d9d9;
}

.icon {
  position: absolute;
  top: 50%;
  left: 0.85rem;
  transform: translateY(-50%);
  pointer-events: none;
  color: #000;
}
